.alert {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 8px;

  &.-warning {
    background: cms-color-level('warning', 8);
    border: 1px solid cms-color-level('warning', -5);
    color: cms-color-level('warning', -5);
  }

  &.-danger {
    background: cms-color-level('danger', 8);
    border: 1px solid cms-color-level('danger', -2);
    color: cms-color-level('danger', -5);
  }
}