.btn {
  @include reset-link();

  padding: 8px 16px;
  @include shadow();
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  border: none;
  cursor: pointer;
  font-family: $base-font-family;

  &.-lg {
    padding: 16px 24px;
  }

  .iconify {
    font-size: inherit;
    line-height: 100%;
  }

  &.-primary {
    background-color: cms-color-level('primary');
    color: cms-color-level('background');
    transition: all 150ms ease-in-out;

    &:hover {
      background: cms-color-level('primary', 1);
      box-shadow: 0 5px 10px #00000040;
      transition: all 150ms ease-in-out;
    }
  }
}