html, body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
  background: cms-color-level('primary', 9.6);
}

@for $size from 1 through 6 {
  h#{$size} {
    font-family: $header-font-family;
    font-size: $header-font-size - ($size * $size) / 2;
    font-weight: $header-font-weight;
    line-height: 1 + ($size * $size) / 10;
    margin: (1.5rem - ($size * $size) / 10) 0;
  }
}