.text-light {
  font-size: 14px;
  color: cms-color-level("foreground", 3);
}

a {
  text-decoration: none;
}

.text-primary {
  color: cms-color-level();
}

.text-success {
  color: cms-color-level("success", -3);
}

.text-danger {
  color: cms-color-level("danger", 3);
}