{% extends 'admin.html.twig' %}
{% form_theme form 'forms/forms.html.twig' %}

{% block title %}Periode starten | Arte-Tech{% endblock %}

{% block content %}
    <h1>Start een periode</h1>
    <section class="formContainer">
        {{ form(form) }}
    </section>
{% endblock %}