$base-font-family: "Roboto", sans-serif;
$base-font-size: 16px;

$header-font-family: "Raleway", sans-serif;
$header-font-size: 36px;
$header-font-weight: 700;

$colors: (
  "primary": #0267c1,
  "danger": #d62828,
  "warning": #fcbf49,
  "success": #21fa90,
  "foreground": #232323,
  "background": #fdfdfd,
);
