$base-font-family: "Open Sans", "Helvetica", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$header-font-family: "Poppins", "Helvetica", sans-serif;
$header-font-weight: 700;

$colors: (
  "primary": #0587dd,
  "danger": rgb(228, 57, 57),
  "foreground": #161e27,
  "background": #fdfdfd
);
