.formContainer {
  margin-top: 64px;
  border-left: 2px solid gray;
  padding: 0 32px;
}

form {
  .form__group {
    height: auto;
    width: 100%;
    display: flex;
    margin: 16px 0;

    label {
      flex-basis: auto;
      text-align: right;
      margin-right: 5%;
    }

    input {
      flex-basis: 80%;
      border: none;
      padding: 8px 16px;
      border-bottom: 1px solid black;
    }


    #form_roles {
      flex-basis: 80%;
      display: flex;
      text-align: left;
    }
  }
}