.formContainer {
  @include shadow();
  padding: 16px 16px 32px 32px;
  background: cms-color-level('background');
}

form {
  .form__group {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    margin: 16px 0;

    label {
      color: cms-color-level('foreground', 2);
      margin-bottom: 8px;
      font-size: 12px;
    }

    input, textarea {
      border: 1px solid cms-color-opacity('foreground', 8);
      border-radius: 8px;
      padding: 8px;
      font-family: $base-font-family;
      font-size: $base-font-size;
    }

    select {
      padding: 8px;
      font-family: $base-font-family;
      font-size: 14px;
    }

    &__roles {
      input {
        display: none;

        &:checked + label {
          background: cms-color-level('primary', 2);
          color: cms-color-level('background');
          border: 1px solid cms-color-level('primary', 2);
          transition: all 150ms ease-in-out;
        }
      }
      label {
        font-size: 14px;
        margin-right: 16px;
        margin-left: 4px;
        border: 1px solid cms-color-opacity('foreground', 8);
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

.form__login {
  border-collapse: collapse;
  .form__group {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-size: $base-font-size;
    border: 1px solid cms-color-level('foreground', 9);
    padding: 16px 8px;
    margin: 16px 0;

    &:focus-within {
      border: 1px solid cms-color-level('primary', 4);
    }

    &:first-of-type {
      border-radius: 8px 8px 0 0;
      margin-bottom: 0;
    }

    &:last-of-type {
      border-radius: 0 0 8px 8px;
      margin-top: 0;
    }

    label {
      flex-basis: 10%;
      text-align: center;
      margin: 0;
      color: cms-color-level('foreground', 5);
    }

    input {
      flex-basis: 90%;
      border: none;
      border-radius: 0;
    }

    button {
      padding: 16px 8px;
    }
  }
}