.nav {
  width: 100%;
  display: flex;
  font-family: $header-font-family;

  &.-admin {
    height: 100vh;
    position: fixed;
    width: (100% / 12) * 2;
    background: cms-color-level('primary', -1);
    color: cms-color-level('foreground');
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px 0;
  }

  &__brand {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    @include reset-link();
    color: cms-color-level('background');

    img {
      height: 100%;
    }

    h1 {
      color: inherit;
    }
  }

  &__link {
    margin: 16px 0;
    width: 100%;

    &.-user {
      margin-top: auto;
    }

    &__item {
      @include reset-link();
      display: flex;
      padding: 16px 0 16px 32px;
      align-items: center;
      color: cms-color-level('primary', 6);
      transition: all 100ms ease-in-out;

      .iconify {
        margin-right: 16px;
        font-size: 24px;
        width: 30px;
      }

      &:hover {
        color: cms-color-level('background', -.5);
        transition: all 100ms ease-in-out;
      }

      &.-active {
        background: cms-color-level('primary', 3);
        color: cms-color-level('background');
        transition: all 250ms ease-in-out;
      }
    }
  }
}