.nav {
  width: 100%;
  display: flex;

  &.-admin {
    height: 100vh;
    background: cms-color-level('background', -0.6);
    color: cms-color-level('foreground');
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px 0;
  }

  &__brand {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    @include reset-link();
    color: cms-color-level('primary');


    h1 {
      color: inherit;
    }
  }

  &__link {
    margin: 16px 0;
    width: 100%;

    &__item {
      @include reset-link();
      text-align: center;
      width: 100%;
      padding: 16px 0;
      display: block;
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &.-active {
        color: cms-color-level('primary', 2);

        &:hover {
          background: cms-color-level('primary', 8);
        }
      }

      .iconify {
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }

      &:hover {
        background: cms-color-level('primary', 8);
      }
    }
  }
}